@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Rashi+Hebrew:wght@100&display=swap');

body {
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.titulo {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: #026F38;
    margin: 8px 0px 15px 10px;
}

.subtitulos {
    color: #026F38;
    font-size: 23px;
    margin: 15px 15px 15px 0px;
}

.links {
    text-decoration: none;
    color: black;
    margin-right: 18px;
    cursor: pointer;
    display: inline-block;
    /* Adiciona display: inline-block para evitar o movimento ao alterar a altura/margem durante hover */
    transition: 0.3s;
    margin-top: 2px;
}


.links:hover {
    color: rgba(2, 111, 56);
}

/* Estilizando o texto dentro do botão para garantir que a mudança na borda inferior não afete o layout */
.links span {
    position: relative;
    z-index: 1;
    display: inline-block;
    /* Adiciona display: inline-block para garantir que a largura do elemento seja consistente durante hover */
}


#cabecalho {
    display: flex;
    color: white;
    text-align: left;
    /* background-color: rgb(207, 207, 207); */
    background: -webkit-linear-gradient(left, rgba(2, 111, 56, 0.6), rgba(252, 233, 1, 0.6));
    /* background: -webkit-linear-gradient(left, #026f38, #fce901); */
    padding: 5px;
    font-family: 'Inter', sans-serif;
    justify-content: space-between;
}

#botoes {
    text-align: right;
}

#botoesAcesso {
    height: 20px;
    padding: 2px;
}

#botSair {
    color: #026F38;
    font-weight: bold;
    text-decoration: none;
}

#linha {
    border: #026F38 solid 1.5px;
    margin-top: 5px;
}

.check {
    height: 50px;
}

/*Modal Adc Template*/

.modalContainer {
    width: 100vw;
    position: fixed;
    display: none;
    z-index: 999;
    top: 0px;
}

.modal {
    background-color: white;
    display: inline-block;
    flex-direction: column;
    border: #026F38 solid 2px;
    padding: 20px;
    height: 100vw;
    width: 30%;
    justify-content: left;
}

.active {
    display: flex;
}


.active .modal {
    animation: modal .4s;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fundo {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.botaoX {
    display: block;
    right: 0;
    background-color: white;
    color: #026F38;
    font-size: 20px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    float: right;
}

/*Modal Upload*/
.modalContainerUpload {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modalUpload {
    background-color: white;
    border: #026F38 solid 2px;
    width: 500px;
    height: 100px;
    border-radius: 15px;
    padding: 20px;
    top: 50%;
    left: 50%;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.drop-area {
    border: #026F38 2px dashed;
    height: 150px;
    width: 400px;
    text-align: center;
    display: block;
}

.barra {
    width: 0;
    max-width: 350px;
    height: 10px;
    background-color: #026F38;
    border-radius: 10px;
    opacity: 0.8;
}

.inputFile {
    display: none;
}

.botoesUpload {
    background-color: white;
    border: #026F38 solid 2px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 40px;
    width: 110px;
    margin: 30px;
    color: #026F38;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    float: right;
}

/* botao upload */

.custom-file-input {
    background-color: white;
    border: #026F38 solid 2px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 35px;
    width: 110px;
    margin: 30px;
    color: #026F38;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    line-height: 34px;
}

.containerBotoesUpload {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#modalReposit {
    margin: 15px;
}

#modalArquivo {
    transition: 4s;
    display: none;
}


@keyframes modalUpload {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.botaoXUpload {
    background-color: white;
    color: #026F38;
    font-size: 20px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    float: right;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/*Modal Perfil*/

#botaoPerfil {
    cursor: pointer;
    /* color: #026F38; */
}

.modalContainerPerfil {
    width: 100vw;
    position: fixed;
    display: none;
    z-index: 999;
    top: 0px;
}

.modalPerfil {
    background-color: white;
    display: inline-block;
    flex-direction: column;
    border: #026F38 solid 2px;
    padding: 20px;
    height: 100vw;
    width: 30%;
    justify-content: left;
}

.activeperfil {
    display: flex;
}

.activeperfil .modalPerfil {
    animation: modal .4s;
}

@keyframes modalPerfil {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.botaoXPerfil {
    display: block;
    right: 0;
    background-color: white;
    color: #026F38;
    font-size: 20px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    float: right;
}

#divMudarSenha {
    display: flex;
    justify-content: center;
    align-items: left;
    border: #026F38 solid 2px;
    border-radius: 10px;
    width: 280px;
    height: 250px;
    padding: 10px;
    margin: 20px;
    font-size: 15px;
}

.buttonMudarSenha {
    display: block;
    background-color: #026F38;
    opacity: 0.8;
    border-radius: 5px;
    border: 0;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100px;
    height: 30px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.camposMudarSenha {
    border: #026F38 solid 1.5px;
    border-radius: 5px;
    width: 200px;
    height: 20px;
    margin-top: 2px;
}

#tituloSenha {
    font-size: 19px;
    color: #026F38;
}

small {
    color: #026F38;
    opacity: 0.9;
    margin-left: 10px;
}

.tituloPerfil {
    margin-left: 10px;
    font-size: 20px;
}

/*Dashboard*/

.nivelAcessoSelect {
    border: #026F38 solid 1.8px;
    border-radius: 5px;
    padding: 3px;
}

#aprovados {
    display: flex;
    justify-content: space-between;
    background-color: rgba(76, 147, 40, 0.50);
    padding: 12px;
    border-radius: 25px;
    color: #026F38;
    font-weight: bold;
    height: 20px;
    width: 350px;
}

#reprovados {
    display: flex;
    justify-content: space-between;
    background: rgba(255, 97, 97, 0.50);
    padding: 12px;
    border-radius: 25px;
    color: red;
    font-weight: bold;
    height: 20px;
    width: 350px;
}

#templatesTotal {
    display: flex;
    justify-content: space-between;
    background: rgba(152, 161, 147, 0.50);
    padding: 12px;
    border-radius: 25px;
    color: black;
    font-weight: bold;
    height: 20px;
    width: 350px;
}

#metricas {
    display: block;
    position: absolute;
    right: 0;
    margin: 30px;
}

#aprovacoes {
    display: block;
    width: 65%;
    position: absolute;
    left: 0;
    margin: 30px;
}

#templatesParaAprovacao {
    max-width: 65%px;
    max-height: 200px;
    margin-bottom: 20px;
    overflow-y: scroll;
}

.templateDiv {
    border: #026F38 solid 2px;
    border-radius: 10px;
    padding: 2px;
    margin: 2px;
}

.butAprovar {
    border-radius: 15px;
    border: 1px solid #026F38;
    background: rgba(2, 111, 56, 0.76);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    width: 83px;
    height: 27px;
    cursor: pointer;
    float: right;
    margin-left: 10px;
}

.butReprovar {
    border-radius: 15px;
    border: 1px solid rgba(255, 0, 0, 0.70);
    background: rgba(255, 100, 100, 0.76);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    width: 83px;
    height: 27px;
    cursor: pointer;
    margin-left: 10px;
    float: right;
}

.butEditarUser {
    border-radius: 15px;
    border: 1px solid #026F38;
    background: rgba(2, 111, 56, 0.76);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    width: 83px;
    height: 27px;
    cursor: pointer;
    float: right;
}

.butExcluir {
    border-radius: 15px;
    border: 1px solid rgba(255, 0, 0, 0.70);
    background: rgba(255, 100, 100, 0.76);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    width: 80px;
    height: 32px;
    cursor: pointer;
    float: right;
}

.especificacoes {
    margin-right: 10px;
    font-size: 18px;
}

#usuarios {
    display: flex;
    flex-direction: column;
    margin: 0px 25px 5px 25px;
    overflow-y: scroll;
    max-height: 50%;
    align-items: left;
    padding: 0;
}

.usuarioDiv {
    border: #026F38 solid 2px;
    border-radius: 15px;
    margin: 2px;
    padding: 2px 5px 2px 5px;
    position: relative;
}

.esquerda {
    position: sticky;
    left: 0;
    background-color: #fff;
}

.centro {
    position: sticky;
    left: 33%;
    /* Ajuste o valor para o centro desejado */
    background-color: #fff;
}

.direita {
    position: sticky;
    right: 0;
    width: 100px;
}


.teste {
    padding-right: 100px;
}

.campoSelectUser {
    border: #026F38 solid 2px;
    border-radius: 10px;
    height: 29px;
    width: 200px;
    cursor: pointer;
    opacity: 0.8;
    margin: 0;
}

.campoSelectUser:hover {
    border: #102b1d solid 2px;
}

#formusuario {
    width: 100%;
}

#tabelaUsuarios {
    display: inline-block;
    width: 1282px;
    height: 200px;
    margin: 0 auto;
    max-height: 200px;
}

/*Página de cadastro de usuário*/

#sectionAdcUser {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#buttonAdicionar {
    background-color: #026F38;
    opacity: 0.8;
    border: 0 solid;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    padding: 8px 30px 8px 30px;
    border-radius: 15px;
    cursor: pointer;
    width: 200px;
    display: block;
    margin: 0 auto;
}

.campos {
    border: #026F38 solid 2px;
    border-radius: 10px;
    padding: 3px;
    opacity: 0.8;
    width: 300px;
    text-decoration: none;
    cursor: pointer;
    margin: 0 auto;
}

h1 {
    font-family: 'Inter', sans-serif;
    color: #026F38;
    text-align: center;
}

#formulario {
    text-align: justify;
}


/*Pagina Adicionar Template*/

#sectionCadastroTemplate {
    display: flex;
    justify-content: space-around;
    align-items: top;
    text-align: center;
}

#divEsquerda {
    position: fixed left;
    margin: 0px 15px 15px 15px;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    text-align: left;
}

.divDireita {
    position: fixed right;
    margin: 15px;
    border: #026F38 solid 3px;
    border-radius: 10px;
    width: 430px;
    height: 480px;
    text-align: center;
    padding: 25px;
    font-size: 18px;
    max-width: 430px;
    vertical-align: center;

    overflow-y: scroll;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #026F38 gray;
}

#tituloCampos {
    text-align: center;
}

/* Estilos para os campos adicionados */

.divCampos {
    font-size: 18px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.camposAdcTemplate {
    border: #026F38 solid 2px;
    border-radius: 11px;
    height: 25px;
    width: 320px;
    margin: 5px 0px 5px 0px;
    cursor: pointer;
    opacity: 0.8;
}

.campoSelect {
    /*Não estava ficando igual com o de cima*/
    border: #026F38 solid 2px;
    border-radius: 11px;
    height: 32px;
    width: 330px;
    margin: 5px 0px 5px 0px;
    cursor: pointer;
    opacity: 0.8;
}

.campoSelect:hover {
    border: #102b1d solid 2px;
}

.botaoAdicionarTemplate {
    background-color: #026F38;
    opacity: 0.8;
    color: white;
    border: 0 solid;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    width: 180px;
    display: block;
    margin: 0 auto;
}

.botaoAdicionarTemplate2 {
    /*para n ter que modificar o botao acima e perder a centralização*/
    background-color: #026F38;
    opacity: 0.8;
    color: white;
    border: 0 solid;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    width: 180px;
    margin: 0 auto;
    position: fixed bottom;
    float: bottom;
}

.camposNulo {
    border: #026F38 2px solid;
    border-radius: 10px;
    width: 80px;
    height: 28px;
    margin-top: 5px;
}

/*Gerenciar Templates e Uploads*/

.tdInicial {
    margin: 10px;
    width: 320px;
    max-width: 320px;
}

.td2{
    width: 190px;
    max-width: 190px; 
    margin: 0 auto;
}

.uplaodtd {
    width: 1000px;
    max-width: 1000px;
    margin: 10px;
}

.status {
    display: none;
}

.templateGerenciar {
    border: #026f38 solid 2px;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    display: flex;
}

/*Botao slide*/

/* Estilize o rótulo (label) para que pareça um botão de alternância */
.switch {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 34px;
    float: right;
}

/* Estilizando o controle deslizante (slider) */

#toggle {
    margin-left: auto;
}

.switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    /* Cor de fundo padrão */
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

/* Estilo quando o interruptor está ativo (ligado) */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #026F38;
    /* Cor de fundo quando ativado (ligado) */
    opacity: 0.7;
    border: #026F38 solid 1px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

input:checked+.slider:before {
    -webkit-transform: translateX(30px);
    /* Move a bolinha para a direita quando ativado (ligado) */
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}


/*Fim botao slide*/

.informacoesTemplate {
    width: 100%;
    height: 20px;
    display: inline-block;
    text-align: left;
    margin-top: 5px;
    margin-left: 10px;
    color: #026F38;
    font-size: 20px;
}

.rotulo {
    padding-left: 145px;
    margin-left: 5px;
}

#containerTemplate {
    display: flex;
    overflow-y: scroll;
    height: 450px;
    max-height: 450px;
    flex-direction: column;
}

#containerTemplateUpload {
    display: flex;
    overflow-y: scroll;
    height: 450px;
    max-height: 450px;
    flex-direction: column;
}

#template {
    display: flex;
    justify-content: space-between;
    border: #026F38 solid 2px;
    border-radius: 15px;
    margin: 10px 30px 2px 5px;
    font-size: 16px;
    align-items: center;
    width: 96%;
    padding: 12px;
}

.botaoBranco {
    width: 85px;
    height: 34px;
    flex-shrink: 0;
    background-color: white;
    color: #026F38;
    border: #026F38 solid 1px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    float: right;
}


/* barra pesquisa */
.search-box {
    position: absolute;
    top: 23.3%;
    right: 0;
    transform: translate(-50%, -50%);
    background: white;
    height: 30px;
    width: 300px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    opacity: 0.6;
}

.search-text {
    background: none;
    border: 0;
    outline: 0;
    font-size: 16px;
    width: 0;
    padding: 0;
    transition: 0.4s;
}

.search-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.search-box:hover>.search-text {
    width: 320px;
    padding-left: 10px;
    border-bottom: #026F38 solid 1.8px;
}

.lupa {
    width: 25px;
    margin: 0;
}