<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="icon" href="../static/imagens/pin.png" type="image/x-icon">
    <title>Adicionar Usuário</title>
</head>

<body>

    <header id="cabecalho">
        <span onclick="openModalPerfil()" id="botaoPerfil"></span>
        <a href="logout.html" id="botSair">Sair</a>
    </header>

    <section id="botoes">
        <div id="botoesAcesso">
            <a href="../templates/Dashboard.html" class="links" id="botaoDash"  style="display: none;">Dashboard</a>
            <a href="../templates/gerenciarTemplate.html" class="links">Gerenciar Template</a>
            <a href="../templates/adicionarTemplate.html" class="links">Cadastrar Template</a>
            <a href="../templates/Uploads.html" class="links">Uploads</a>
            <a href="../templates/adicionarUsuario.html" class="links" id="botaoAdcUser"  style="display: none;">Adicionar Usuário</a> <br>
        </div>
    </section>

    <p id="linha"></p>

    <div class="modalContainer"> <!--Modal de notificações de todas as telas-->
        <div class="modal">
            <span class="titulo">Notificações</span>
            <button onclick="closeModal()" class="botaoX">X</button>
            <br>
            <div class="notificDiv">
                <span>O template nome foi aprovado! Já está disponível para uso. </span>
                <img src="../imagens/check.png" class="check">
            </div>
        </div>
    </div>

    <div class="modalContainerPerfil"> <!--Modal de perfil-->
        <div class="modalPerfil">
            <button onclick="closeModalPerfil()" class="botaoXPerfil">X</button>
            <div id="informacoesPerfil">

            </div>
            <div id="divMudarSenha">
                <form id="mudarSenha">
                    <p id="tituloSenha">Trocar minha senha</p>
                    <label for="senhaAtual">Senha atual</label> <br>
                    <input type="password" class="camposMudarSenha" id="senhaAtual"> <br>
                    <label for="senhaNova">Nova senha</label> <br>
                    <input type="password" class="camposMudarSenha" id="senhaNova"> <br>
                    <label for="senhaNovaConfirmacao">Confirmar nova senha</label> <br>
                    <input type="password" class="camposMudarSenha" id="senhaNovaConfirmacao"> <br> <br>
                    <input type="submit" class="buttonMudarSenha">
                </form>
            </div>
        </div>
    </div>

    <div class="fundo" id="fundo"></div>

    <section id="sectionAdcUser">
        <div>
            <p class="titulo">Adicionar Usuário</p>
            <form id="formulario">
                <label for="nome">Nome Completo</label> <br>
                <input type="text" id="nome" class="campos"> <br> <br>
                <label for="email">E-mail</label> <br>
                <input type="email" id="email" class="campos"> <br> <br>
                <label for="matricula">Matricula</label> <br>
                <input type="text" id="matricula" class="campos"> <br> <br>
                <label for="nivelAcesso">Nivel de Acesso</label> <br>
                <select id="nivelAcesso" class="campos">
                    <option>Administrador</option>
                    <option>Comum</option>
                </select> <br> <br>
                <input type="submit" value="Adicionar" id="buttonAdicionar">
            </form>
        </div>

    </section>

    <br>

    <div id="mensagemSucesso" style="display: none;">
        Usuário adicionado com sucesso!
    </div>

    <script src="../static/js/script.js"></script>

    <script src="../static/js/script_adcUser.js"></script>

    <script src="../static/js/script_senha.js"></script>

</body>

</html>