<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Front-end/static/style/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Dashboard</title>
</head>

<body>

    <header id="cabecalho">
        <span onclick="openModalPerfil()" id="botaoPerfil"></span>
        <a href="logout.html" id="botSair">Sair</a>
    </header>

    <section id="botoes">
        <div id="botoesAcesso">
            <a href="../templates/Dashboard.html" class="links" id="botaoDash" style="display: none;">Dashboard</a>
            <a href="../templates/gerenciarTemplate.html" class="links">Gerenciar Template</a>
            <a href="../templates/adicionarTemplate.html" class="links">Cadastrar Template</a>
            <a href="../templates/Uploads.html" class="links">Uploads</a>
            <a href="../templates/adicionarUsuario.html" class="links" id="botaoAdcUser"
                style="display: none;">Adicionar Usuário</a> <br>
        </div>
    </section>

    <p id="linha"></p>

    <div class="modalContainer"> <!--Modal de notificações de todas as telas-->
        <div class="modal">
            <span class="titulo">Notificações</span>
            <button onclick="closeModal()" class="botaoX">X</button>
            <br>
            <div class="notificDiv">
                <span>O template nome foi aprovado! Já está disponível para uso. </span>
                <img src="" class="check">
            </div>
        </div>
    </div>

    <div class="modalContainerPerfil"> <!--Modal de perfil-->
        <div class="modalPerfil">
            <button onclick="closeModalPerfil()" class="botaoXPerfil">X</button>
            <div id="informacoesPerfil">

            </div>
            <div id="divMudarSenha">
                <form id="mudarSenha">
                    <p id="tituloSenha">Trocar minha senha</p>
                    <label for="senhaAtual">Senha atual</label> <br>
                    <input type="password" class="camposMudarSenha" id="senhaAtual"> <br>
                    <label for="senhaNova">Nova senha</label> <br>
                    <input type="password" class="camposMudarSenha" id="senhaNova"> <br>
                    <label for="senhaNovaConfirmacao">Confirmar nova senha</label> <br>
                    <input type="password" class="camposMudarSenha" id="senhaNovaConfirmacao"> <br> <br>
                    <input type="submit" class="buttonMudarSenha">
                </form>
            </div>
        </div>
    </div>

    <div class="fundo" id="fundo"></div>

    <section>
        <p class="titulo">Seja bem-vindo!</p>
        <p class="subtitulos" style="margin-left: 10px;">Usuários</p>
        <div id="usuarios">
            <div id="tabelaUsuarios">

            </div>
        </div>

        <br>
        <div id="aprovacoes">
            <p class="subtitulos">Templates para aprovação</p>
            <div id="templatesParaAprovacao"></div>
        </div>
        <div id="metricas">
            <div id="aprovados">Templates Aprovados <span id="totalAprovados">  </span> </div> <br>
            <div id="aprovados">Templates Ativos <span id="totalAtivos"> </span> </div> <br>
            <div id="reprovados">Templates Desativados <span id="totalDesativos"> </span> </div>
        </div>
    </section>

    <script>
        fetch('http://127.0.0.1:5000/count_idtemplates')
            .then(response => response.json())
            .then(data => {
                console.log(data.total);
                document.getElementById('totalAprovados').innerHTML = data.total;
            })
            .catch(error => console.log('Erro:', error));

            fetch('http://127.0.0.1:5000/count_status')
            .then(response => response.json())
            .then(data => {
                console.log(data.total);
                document.getElementById('totalAtivos').innerHTML = data.total;
            })
            .catch(error => console.log('Erro:', error));    

            fetch('http://127.0.0.1:5000/count_statusDesativo')
            .then(response => response.json())
            .then(data => {
                console.log('Resposta do servidor:', data); // Adiciona um log para verificar a resposta do servidor
                if (data.error) {
                    console.log('Erro retornado pelo servidor:', data.error);
                } else {
                    console.log('Total retornado:', data.total);
                    document.getElementById('totalDesativos').innerHTML = data.total;
                }
            })
            .catch(error => console.log('Erro:', error));

            
    </script>

    <script src="../static/js/script.js"></script>

    <script src="../static/js/script_dash.js"></script>

    <script src="../static/js/script_senha.js"></script>

</body>

</html>