<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/style/style3.css">
  <link rel="icon" href="../static/imagens/pin.png" type="image/x-icon">

  <title>Login</title>
</head>

<body id="bodyLogin">
  <div id="login">
    <form id="formLogin">
      <label for="matricula">Login</label> <br>
      <input type="text" id="matricula" class="camposLogin" placeholder="Matrícula"> <br>
      <label for="senha">Senha</label> <br>
      <input type="password" id="senha" class="camposLogin" placeholder="Senha"> <br>
      <input type="submit" id="enviar" class="botaoLogin" value="Entrar">
    </form>
    <br>
  </div>

  <script src="../static/js/script_login.js"></script>

</body>

</html>